   /*   SP    */
   @media screen and (max-width: 375px){
    .article-grid-container{
        display: grid;
        grid-template-columns: 5.3% minmax(0, 1fr) 5.3%;
        grid-template-rows:
        21.5vh 
        22.5vh
        auto
        auto
        auto
        124px
        auto
        auto
        auto
        23.7vh
        47.1vh
        8.1vh
        12.4vh
        15.0vh;
        min-height: 100vh;
        max-width: 100vw;
    }
}

/*   TB    */
   @media screen and (min-width: 376px)and (max-width: 834px){
    .article-grid-container{
        display: grid;
        grid-template-columns: 4.79% minmax(0, 1fr) 4.79%;
        grid-template-rows:
        21.7vh 
        40.0vh
        auto
        auto
        auto
        264px
        auto
        auto
        auto
        23.7vh
        auto
        auto
        29.8vh
        15.0vh;
        min-height: 100vh;
        max-width: 100vw;
    }
   } 
 
 
 /*   PC    */
   @media screen and (min-width:  835px) {
    .article-grid-container{
        display: grid;
        grid-template-columns: 5.2% minmax(0, 1fr) 5.2% 19.1vw;
        grid-template-rows:
        21.7vh 
        40.0vh
        auto
        auto
        auto
        500px
        auto
        auto
        auto
        auto
        auto
        10.4vh
        29.8vh
        15.0vh;
        min-height: 100vh;
    }
    }