   /*   SP    */
   @media screen and (max-width: 375px){
    .p-grid-container{
        display: grid;
        grid-template-columns: 5.3% minmax(0, 1fr) 5.3%;
        grid-template-rows:
        21.5vh 
        28.5vh
        auto
        auto
        5.2vh
        15.0vh;
        min-height: 100vh;
        max-width: 100vw;
    }
}
   /*   TB    */
@media screen and (min-width: 376px)and (max-width: 834px){
    .p-grid-container{
        display: grid;
        grid-template-columns: 4.79% minmax(0, 1fr) 4.79%;
        grid-template-rows:
        21.7vh 
        23.9vh
        auto
        auto
        6.7vh
        15.0vh;
        min-height: 100vh;
        max-width: 100vw;
    }
}

   /*   PC    */
@media screen and (min-width:  835px) {
    .p-grid-container{
        display: grid;
        grid-template-columns: 5.2% minmax(0, 1fr) 5.2% 19.1vw;
        grid-template-rows:
        21.7vh 
        23.9vh
        auto
        auto
        10.0vh
        15.0vh;
        min-height: 100vh;
        min-width: 100vw;
    }
}