   /*   SP    */
   @media screen and (max-width: 375px){
                  /* Lead Section*/
                  .c-section {
                    grid-row: 3 / 4;
                    grid-column: 2 / 3;
                    width: 100%;
                    position: relative;
                    margin-top: 3.2vh;
                    display: block;
                    color: #3C2A10;

                    &--single{
                      margin-top: 3.4vh;
                      margin-bottom: 3.6vh;
                    }
        
                  h2{
                    font-size: 28px;
                    color: #3C2A10;
                  }
        
                    p{
                        font-size: 16px;
                        margin-top: 25px;
                    }
       }

       .c-section--single > p{
        margin-top: 25px;
      }
   }

   /*   TB    */
   @media screen and (min-width: 376px)and (max-width: 834px){
              /* Lead Section*/
              .c-section {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
                width: 100%;
                position: relative;
                display: block;
                color: #3C2A10;
                margin-top: 6.3vh;


            &--single{
              margin-top: 6.0vh;
              margin-bottom: 6.2vh;
            }
    
              h2{
                font-size: 36px;
                color: #3C2A10;
              }
    
                p{
                    font-size: 16px;
                    margin-top: 20px;
                }
   }
   .c-section--single > p{
    margin-top: 55px;
  }
}
    /*   PC    */
    @media screen and (min-width: 835px) {
          /* Lead Section*/
        .c-section {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            width: 100%;
            position: relative;
            display: block;
            color: #3C2A10;
            margin-top: 6.3vh;

            &--single{
              margin-top: 6.3vh;
              margin-bottom: 6.0vh;
            }

          h2{
            font-size: 36px;
            color: #3C2A10;
          }

            p{
                font-size: 16px;
                margin-top: 20px;
            }
        }
        .c-section--single > p{
          margin-top: 57px;
        }
}